@use '../base' as *;


.header {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $color-border;
  background: $color-bg;
  padding: 24px 0;
  
  @include lg {
    padding: 30px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__logo {
    z-index: 100;

    img {
      display: block;
      width: auto;
      height: 26px;

      @include to-lg {
        height: 26px;
      }
    }
  }


  &__nav {
    @include to-lg {
      position: relative;
      height: calc(100vh - $header-mobile-height);
      height: calc(100svh - $header-mobile-height);
      overflow: auto;
      position: fixed;
      top: $header-mobile-height;
      z-index: 1000;
      left: 0;
      width: 100%;
      background: $color-bg;
      transform: translateX(-100%);
      transition: .3s;
    }
    
    @include lg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__menu {
    display: flex;
    gap: 42px;

    @include to-lg {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    & > .menu-item {
      @include to-lg {
        width: 100%;
      }

      & > a {
        display: block;
        font-weight: 400;
        font-size: 28px;
        text-transform: uppercase;
        transition: .3s;

        @include to-lg {
          font-size: 22px;
          padding: 18px 16px;
          border-bottom: 1px solid $color-border;
        }

        @include lg {
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: $color-border;
            transform: scale(0);
            transition: .3s;
            transform-origin: left;
          }

          &:hover {
            &::after {
              transform: scale(1);
            }
          }
        }
      }

      &.current-menu-item {
        & > a {
          @include lg {
            &::after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  // .wpml-ls{
  //   span.wpml-ls-native {
  //     font-weight: 500 !important;
  //     font-size: 18px !important;

  //     @include lg {
  //       display: none;
  //     }
  //   }
  // }
}


.header-button {
  transition: .3s;
  
  &:hover {
    opacity: 0.7;
  }
}

.search-toggle {
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 100;
}


.burger {
  position: relative;
  z-index: 4000;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-top: -2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 32px;
  height: 32px;

  span {
    display: block;
    background: #000;
    height: 2px;
    width: 24px;
    transition: .3s;
  }

  @include lg {
    display: none;   
  }
}


.nav-active {
  @include to-lg {
    overflow: hidden;
  }

  .header {
    &__nav {
      transform: translateX(0);
    }
  }

  .mobile-fixed-buttons {
    transform: translateY(0);
  }

  .burger {
    span {
      &:first-child {
        transform: rotate(45deg) translate(2px, 3px);
      }
      &:last-child {
        transform: rotate(-45deg) translate(3px, -5px);
      }
    }
  }
}


.body-scrolled {
  @include lg {
    .header__inner {
      transform: translateY(-24px);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}


body.admin-bar {
  .header {
    transform: translateY(46px);

    @include lg {
      transform: translateY(32px);
    }
  }
}
