@use '../base' as *;


.a-big-text {
  margin: 20px 0 30px;

  @include lg {
    margin: 30px 0 60px;
  }

  &__content {
    width: min(1090px, 100%);

    font-size: 28px;
    line-height: 1.3;
    
    @include lg {
      font-size: 64px;
      line-height: 1.14;
      letter-spacing: -1.6px;
    }
  }
}


.a-twi {
  margin-top: 48px;
  margin-bottom: 80px;

  @include lg {
    margin-top: 60px;
    margin-bottom: 180px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include lg {
      display: grid;
      grid-template-columns: 3fr 5fr;
      gap: 130px;
    }
  }

  &__content {
    p {
      margin: 30px 0;
      font-size: 14px;
      line-height: 1.6;
      letter-spacing: -0.07px;

      @include lg {
        font-size: 22px;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

