@use '../base' as *;

.h-projects {
  margin-top: 20px;
  
  @include lg {
    margin: 30px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    @include lg {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 40px;
    }
  }
}



.portfolio-teaser {
  &--two-column {
    @include lg {
      grid-column: span 2;
    }
  }

  &__image {
    overflow: hidden;
    display: block;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      transition: .5s;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    @include lg {
      font-size: 22px;
    }

    a {
      display: inline-block;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-primary;
        transform: scaleX(0);
        transition: transform 0.3s;
        transform-origin: left;

        @include lg {
          height: 2px;
        }
      }
    }


    &:hover {
      a::after {
        transform: scaleX(1);
      }
    }
  }
}