@use '../base' as *;

.portfolio-wrapper {

}

.portfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.portfolio-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;

  @include lg {
    font-size: 22px;
  }
}

.show-portfolio-description {
  &::before {
    transform: rotate(180deg) translateY(3px);
  }

  &:hover {
    &::before {
      transform: rotate(180deg) translateY(-2px);
    }
  }

  &.active {
    &::before {
      transform: rotate(0deg);
    }
  }
}



.portfolio-description {
  min-width: 49%;
  width: min(640px, 100%);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  
  &.active {
    max-height: 100%;
    opacity: 1;
    margin: 20px 0 80px;

    @include lg {
      margin: 30px 0 120px;
    }
  }

  p {
    font-size: 14px;

    @include lg {
      font-size: 22px;
    }
  }
}



.portfolio-grid {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    &--two-column {
      grid-column: span 2;
    }

    &--text {
      font-size: 14px;

      @include lg {
        font-size: 22px;
      }
      
      strong {
        font-weight: 400;

        @include lg {
          font-size: 40px;
          line-height: 1.25;
        }
      }
    }

    img, video {
      display: block;
      width: 100%;
    }

    &--video {

    }

    &--image {

    }
  }
}


.portfolio-nav {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 16px;

  @include lg {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  & > div:last-of-type {
    justify-self: end;
  }
}