@use '../base' as *;

.icon-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;

  @include lg {
    font-size: 22px;
  }

  &--left,
  &--down,
  &--top 
  {
    &::before {
      content: '';
      display: block;
      transition: .3s;
    }
  }

  &--left {
    &::before {
      content: '';
    }
  }

  &--right {
    &::after {
      content: '→';
      display: block;
      transition: .3s;
    }
  }

  &--top {
    &::before {
      content: '↑';
    }
  }

  &--down {
    &::before {
      content: '↓';
    }
  }
}