@use '../../node_modules/aos/dist/aos.css';
// @use '../../node_modules/tiny-slider/dist/tiny-slider.css';
@use '../../node_modules/@splidejs/splide/dist/css/splide.min.css';

@use 'base';
@use 'layout';
@use 'components';
@use 'pages';