@use 'variables' as *;

@mixin badge {
  display: block;
  background: #111;
  padding: 5px 6px;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 5%;
  text-transform: uppercase;

  @include md {
    font-size: 12px;
  }
}


@mixin slider-arrow {
  background: #000;
  border-radius: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;

  &:hover {
    opacity: .8;
  }

  img {
    filter: invert(1);
  }
}

@mixin slider-arrow-white {
  @include slider-arrow;
  background: #fff;

  img {
    filter: none;
  }
}

